body {
	background-color: #121212;
}
body {
  margin: 0;
}
.parallax-wrapper {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.background {
  margin-top: -80px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 80vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
}
.background--spring {
  background-image: url('IMG-673260f04dde6ac5f8becda55b401519-V.jpg');
}
.background--summer {
  background-image: url('https://images.pexels.com/photos/375152/summer-sun-blooming-season-375152.jpeg?cs=srgb&dl=beautiful-bloom-blossom-375152.jpg&fm=jpg');
}
.background--fall {
  background-image: url('https://images.pexels.com/photos/33060/road-forest-season-autumn.jpg?cs=srgb&dl=autumn-fall-forest-33060.jpg&fm=jpg');
}
.background--winter {
  background-image: url('https://images.pexels.com/photos/235595/pexels-photo-235595.jpeg?cs=srgb&dl=branches-cold-season-235595.jpg&fm=jpg');
}
.title {
  position: absolute;
  margin: 0;
  top: calc(50% - 50px);
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  height: 100px;
  color: white;
  font-size: 5rem;
  background: rgba(0,0,0,0.4);
}

.season-desc {
  text-align: center;
  z-index: 1;
  position: relative;
  background: #121212;
  color: white;
  font-size: 2rem;
  line-height: 2em;
  padding: 3rem;
  margin: 0;
  display: flex;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .desc-wrapper {
    margin: auto;
    height: 10px;
  }
  .season-title {
    padding-top: 100px;
    text-align: center;
    font-size: 2em;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 40px 0;
  }
  .season--about {
    padding: 0;
    margin: 0 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 998px) and (orientation: portrait) {
  .season-desc {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2.5rem;
    padding-bottom: 0;
    font-size: 1.5em;
    height: unset;
    min-height: 100vh;
    .season-title {
      font-size: 2.5rem;
      margin: 20px 0;
      letter-spacing: unset;
     }
    .season-about {
      margin-top: 20px;
     }
   }
 }
